{% import 'component.jinja' as component with context %}
<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ data['title'] }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Eczar&family=Fondamento:ital@0;1&family=Germania+One&family=Grenze+Gotisch:wght@700&family=Grenze:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="res/style.css">
    </head>
    <body>
        {{ component.header(data['type']) }}
        <h1 class="header-text">{{ data['title'] }}</h1>
        {% if data['statistics'] -%}
            {{ component.statistics(data['statistics']) }}
        {%- endif %}
        <main>
        {% if data['main_img'] -%}
            <a href="res/img/{{ data['main_img'] }}.png"><img src="res/img/{{ data['main_img'] }}_small.png"></a>
        {%- endif %}
        {% if data['content'] -%}
        {%- for paragraph in data['content'] %}
            <p>{{ paragraph }}</p>
        {%- endfor %}
        {%- endif %}
        {% if data['subpages'] -%}
            {{ component.subpage_list(data['subpages']) }}
        {%- endif %}
        </main>
    </body>
</html>