{% macro header(active) -%}
        <header>
            <ul>
                <li><a {% if active=='home' %}class="active"{% endif %} href="index.html">Hem</a></li>
                <li><a {% if active=='locations' %}class="active"{% endif %} href="locations.html">Platser</a></li>
                <li><a {% if active=='characters' %}class="active"{% endif %} href="characters.html">Karaktärer</a></li>
                <li><a {% if active=='items' %}class="active"{% endif %} href="items.html">Föremål</a></li>
                <li><a {% if active=='notes' %}class="active"{% endif %} style="padding: 10px 0px;" href="notes.html">Anteckningar</a></li>
            </ul>
        </header>
{%- endmacro %}

{% macro statistics(entries) -%}
        <div>
            {%- if 'icon' in entries.keys() %}
            <img src="res/img/{{ entries.get('icon') }}">
            {%- endif %}
            <ul>
            {%- for key, value in entries.items() %}
                {% if not key == 'icon' %}
                <li><b>{{ key }}</b>: {{ value }}</li>
                {% endif %}
            {%- endfor %}
            </ul>
        </div>
{%- endmacro %}

{% macro subpage_list(subpages) -%}
        <ul>
        {%- for subpage in subpages|sort %}
            <li><a href="{{ data["type"] }}_{{ subpage }}.html">{{ subpage|replace("_", " ")|title }}</a></li>
        {%- endfor %}
        </ul>
{%- endmacro %}
